@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="wrapper" id="w-container">
        <div class="lang-filters"></div>
        <section class="main-controls">
            <div id="buttons">
                <button class="record">Record</button>
                <button class="stop">Stop</button>
            </div>
            <div class="result container">
                <div class="row">
                    <span>语-文转换结果: </span>
                    <span class="result-status"></span>
                </div>
                <div class="row">
                   <span>文本内容: </span>
                   <span contenteditable="true" class="result-text" ></span>
                </div>
            </div>
        </section>
        <div>
            <button class="tts">TTS</button>
        </div>
    </div>

    <section class="help-info">
        <label for="toggle-help-info">❔</label>
        <input id="toggle-help-info" type="checkbox" >
        <section>
            <h2>Information</h2>
            <p> 
                <a>getUserMedia</a>
                <a>MediaRecorder API</a>
            </p>
        </section>
    </section>
</div>


@section Scripts{
    <script src="~/js/encode.js" asp-append-version="true"></script>
    <script src="~/js/audio-helper.js" asp-append-version="true"></script>
    <script src="~/js/languages.js" asp-append-version="true"></script>
    <script src="~/js/lang-control.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
}