
@mixin control-padding($borderSize){
    margin-top: 1em;
    padding: 1em 1em;
    border: $borderSize solid #0088cc;
}

.wrapper {

    .lang-filters{
        justify-content: space-between;
        @include control-padding(1px);
    }

    .main-controls {
        @include control-padding(1px);
        .buttons{
            button{
                padding: 1em;
            }
        }
    }

    .audio-results{
        @include control-padding(0);
    }

    .result{
        padding: 0 ;

        .result-info{
            margin: 1em 0;
        }

        .row .tip {
            span{
                text-align: left;
            }
        }

        .result-text{
            border: 1px solid skyblue;
        }
    }

}

.help-info {

    label {
        font-size: 2.1rem;
        position: absolute;
        bottom: 5px;
        right: 3px;
        z-index: 5;
        cursor: pointer;
    }

    input#toggle-help-info {
        display: none;

        &:checked~section {
            transform: translateX(0);
        }
    }

    section {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: 0.3s all ease-out;
        background-color: #efefef;
        padding: 1rem;

        p {
            font-size: 1.2rem;
            margin: 0.5rem 0;
        }

        a {
            color: #666;
        }

    }

}

button {
    font-size: 1rem;
    background: #0088cc;
    text-align: center;
    color: white;
    border: none;
    transition: all 0.2s;
    padding: 1.0rem;

    &:hover, &:focus {
        box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
        background: #0ae;
    }

    &:active {
        box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
    }
}


audio {
    width: 100%;
    display: block;
    margin: 1rem auto 0.5rem;
}
